@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* LANDING PAGE */
#landing-page{
    background-image: url(./resource/title-screen.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
}
#game-page{
    background-image: url(./resource/title-screen.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
}

#landing-page > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#black-jack{
    font-size: 90px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 12px #b3563a;
}

.poker-chips img{
    position: absolute;
    top: 115px;
    width: 125px;
    height: 125px;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#title-btn a{
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 135px 15px 135px 15px;
    transition: 0.3s ease;
    font-size: 17px;
    text-decoration-style: none;
}

#title-btn a:hover{
    border-radius: 15px 32px 15px 32px;
    border: 3px solid white;
    background-color: #ea795600;
    box-shadow: inset 0 0 300px #ea7856,  0px 0px 12px #b3563a;
}

#play-game-btn{
    background-color: #ea7856;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
}

#leaderboard-btn{
    background-color: #ea7856;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

#credits-btn{
    background-color: #ea7856;
    font-weight: 600;
    margin-bottom: 15px;
}

#start-btn{
    background-color: #ea7856;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}

#start-page div{
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 135px 15px 135px 15px;
    transition: 0.3s ease;
    font-size: 17px;
    text-decoration-style: none;
}

#start-page div:hover{
    border-radius: 15px 32px 15px 32px;
    border: 3px solid white;
    background-color: #ea795600;
    box-shadow: inset 0 0 300px #ea7856,  0px 0px 12px #b3563a;
}